body{
    font-weight: bold;
    color:rgb(177, 27, 0); 
    background: url('images/moon.jpg') no-repeat center fixed;
    margin: 0;
    padding: 0;
}
body h2{
    text-decoration: underline;
}
header img{
    height: 100px;
}
header{
    height: 100px;
    background-color: transparent;
    padding: 10px;
    border-bottom: 1px solid white;
    color: white;
}
header h1{
    font-size: 35px;
    display: inline-block;
    text-decoration: underline;
    position: absolute;
    top: 4%;
}
.details{
    position: absolute;
    right: 5px;
    top: 10px;
}
.details p{
    margin: 8px;
}

.summary{
    position: relative;
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 10px;
    border: 5px solid white;
    border-radius: 10px;
    background-color:rgb(184, 241, 241);
    font-weight: bold;
}
.education{
    display: grid;
    grid-template-columns: 350px 350px 350px;
    
    column-gap: 80px;
    font-weight: bold;
    margin: 30px; 
    row-gap: 100px;
    padding: 30px;
}
.education h2{
    text-decoration: underline;
}
.inter{
    border-radius: 20px;
    padding: 10px;
    background-image: url('images/moon.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    box-shadow: 0px 0px 10px 10px  rgba(247, 243, 243,0.3);
    
}
.high-school{
    border-radius: 20px;
    padding: 10px;
    background-image: url('images/moon.jpg');
    color: white;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 10px 10px  rgba(247, 243, 243,0.3);
    
}
.College{
    border-radius: 20px;
    padding: 10px;
    background-image: url('images/moon.jpg');
    color: white;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 10px 10px  rgba(247, 243, 243,0.3);
}
#skill{
    border: 5px solid white;
    background-color:rgb(184, 241, 241);
    padding: 15px;
    margin: 30px; 
    border-radius: 10px;
}
#skills{
    display: flex;
    justify-content:center;
    border-radius: 10px;
    padding-right: 100px;
}
.skills1 img{
    height: 70px;
    margin: 10px;
}

#technology{
    border: 5px solid white;
    color: white;
    padding: 10px;
    margin: 30px; 
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.technologies img{
    height: 75px;
    margin: 10px;
}
.technologies p{
    display: inline-block;
    position: relative;
    top: -10px;
}
.technologies a{
    color: red;
}
.tools img{
    height: 70px;
    margin: 10px;
    width: 90px;
}
.tools {
    border-left: 3px solid white;
    display: flex;
    flex-direction: column;
}
.myworks{
   margin-left: 200px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    
}
.myworks img{
    height: 50px;
}
.myworks img:hover{
    opacity: 0.3;
}
#works{
    padding: 30px;
    margin: 30px ; 
    border-radius: 10px;
}
.instagramclone{
    background-color: lightpink;
    background-image: url('images/shapes.jpg');
    color: white;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 10px  rgba(247, 243, 243,0.3);
    height: 250px;
    width: 180px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.youtubeclone{
    background-color: lightpink;
    background-image: url('images/shapes.jpg');
    color: white;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 10px  rgba(247, 243, 243,0.3);
    backdrop-filter: blur(10px);
    height: 250px;
    width: 180px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loginform{
    background-color: lightpink;
    background-image: url('images/shapes.jpg');
    color: white;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 10px  rgba(247, 243, 243,0.3);
    height: 250px;
    width: 180px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Certification{
    border: 5px solid white;
    background-color:rgb(184, 241, 241);
    padding: 30px;
    margin: 30px ; 
    border-radius: 10px;
}
#project{
    border: 5px solid white;
    background-color:rgb(184, 241, 241);
    padding: 30px;
    margin: 30px ; 
    border-radius: 10px;
}
#Participations{
    
    border: 5px solid white;
    background-color:rgb(184, 241, 241);
    padding: 30px;
    margin: 30px ; 
    border-radius: 10px;
}
#Contact{
    position: relative;
    border-top: 5px solid white;
    padding: 10px;
    color: white;
    text-align: center;
}
#Contact .anchor{
    margin-bottom: 20px;
}
#Contact .anchor a{
    border: 2px solid white;
    background-color: rgb(184, 241, 241);
    padding: 5px;
    text-decoration: none;
    color: black;
    border-radius: 7px;
    font-weight: none;
}
.anchor a:hover{
    background-color: black;
    color: white;
}

@media only screen and (max-width:500px) {
    body{
        margin: 0;
        padding: 0;
    }
    header {
        height: 260px;
    }
    header img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    header h1{
        display: block;
        position: relative;
        font-size: 20px;
        text-align: right;
    }
    header .details{
        position: relative;
       text-align: right;
        
    }
    .summary{
        margin: 10px 0px 10px 0px;
    }
    .education{
        padding: 0px;
        display: block;
        margin: 25px 0px 25px 0px;
    }
    .education .high-school{
        display: block;
        position: relative;
        width: 90%;
        margin: 10px 0px 10px 0px;
    }
    .education .inter{
        display: block;
        position: relative;
        width: 90%;
        margin: 10px 0px 10px 0px;
    }
    .education .College{
        display: block;
        width: 93%;
        margin: 10px 0px 10px 0px;
        padding-right: 0px;
    }
    #skill{
        margin: 5px;
    }
    #skills{
        display: block;
    }
    #skill #skills .skills1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #skills img{
        height: 35px;
        margin: 5px;
    }
    #technology{
        margin: 5px;
    }
    #works{
        margin: 5px;
    }
    .myworks{
        display: block;
        margin:10px 0px 10px 0px; ;
    }
    #project{
        margin: 5px;
    }
    #Certification{
        margin: 5px;
    }
    #Participations{
        margin: 5px;
    }
    #Contact .anchor{
        margin-bottom: 20px;
    }
    #Contact .anchor a{
        background-color: none;
    }
}