body{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(248, 183, 183);
    padding: 19px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
header h1{
    text-align: center;
    color: red;
    height: 10%;
    margin: 0;
    padding: 0;
}
.nav_links{
    position: fixed;
    top: 10%;
    left: 0px;
    right: 0px;
    height: 5%;
    padding-left: 20px;
    padding-right: 20px;
    display:flex;
    z-index: 1;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(237, 228, 228);
    box-shadow: 0px 5px 10px 2px rgba(222, 196, 196, 0.7);
}
.nav_links .nav_sub{
    flex-grow: 2;
    border:1px solid rgb(241, 213, 213);
    text-align: center;
    padding: 10px
}
.nav_links .nav_sub a{
    text-decoration: none;
    color:red;
}
.nav_links .nav_sub:hover{
    background-color: rgb(241, 213, 213);
    cursor: pointer;
}
main{
    position: absolute;
    top: 15%;
    text-align:center ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}
main section .mobiles a img{
    width: 100%;
}
main .men a img{
    width: 100%;
}
main .women a img{
    width: 100%;
}
footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(237, 228, 228);
    text-align: center;
}