
body{
    background-image: url('images/jordan.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
}
.matter{
    display: block;
    width: 60%;
    height: 60%;
    background-color: rgba(242, 247, 244,0);
}
.text{
    
    position: absolute;
    text-align: center;
    top: 10%;
    color:white;
    padding: 50px;
    margin: 50px;
    font-size: 25px;
}
.text h1, h2{
    text-shadow: 3px 3px 5px  #f5894b;
}
.paragragh{
    position: absolute;
    padding: 100px;
    margin: 100px;
    text-align: center;
    top: 30%;
    color:white;;
}
.paragragh p{
    font-size: 20px;
    text-shadow: 3px 3px 5px  #f5894b;
}
.paragragh .button{
    margin-top: 10px;
    background-color: transparent;
    border: 1px ridge white;
    padding: 10px;
    border-radius: 7px;
    color:white;
    text-decoration: none;
}
.paragragh .button:hover{
    cursor: pointer;
    background-color:white;
    color: black;
    transition: 0.5s;
    box-shadow:  3px 3px 5px  #f5894b;;
}
@media only screen and (max-width:500px){
    .matter .text h1, h2{
        margin-left: -10px;
        font-size: 34px;
    }
    
    .paragragh{
        height: auto;
        width: 40%;
        margin-left: 0;
    }
}
@media only screen and (max-width:900px){
    body{
        background-image:url('images/shapes.jpg') ;
        text-align: center;
    }
    .matter .text{
        font-size: 10px;
        position: relative;
        width: 70%;
        height: 50%;
        padding-top: 10px;
        color: white;  
    }
}
    